[era]
    id=Grafted_Era_AE__{GRAFTED_ERA_VERSION}
    name= _ "Grafted Era always extra"

    #{{{1 _files

    {~add-ons/Grafted_Era/factions/_fake/_rand_all_g.cfg}
    {~add-ons/Grafted_Era/factions/_fake/_rand_ext_g.cfg}
    {~add-ons/Grafted_Era/factions/_fake/_rand_def_g.cfg}

    {~add-ons/Grafted_Era/factions/darklands.cfg}
    {~add-ons/Nightmares_of_Meloen/_lts_/factions/nightmares-default.cfg}
    {~add-ons/Grafted_Era/factions/steppe.cfg}
    {~add-ons/Grafted_Era/factions/halflings.cfg}

    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    #}}}

    {MACRO_NONDEFAULT_FACTION_LIMIT}
    {QUICK_4MP_LEADERS}
    {GRAFT_MENU_ITEM}

    {DECLARE_UNSTABLE_VARIATIONS_EVENT}
    {DECLARE_WRATH_VARIATIONS_EVENT}

    {GRAFT_REVEAL_UNITS}
    {GRAFT_CHANGE_NAMES}
    {GRAFT_MESSAGE}
    {GRAFT_DEMONIC_PULL}
    {GRAFT_MARK_DEMONIC_PULL}
    {GRAFT_DP_SOUND}
    {GRAFT_STUN}

[/era]
